<h1 class="page-title">Guest List</h1>
<button type="button" class="btn btn-primary float-right" data-toggle="button" aria-pressed="false" autocomplete="on"
(click)="ngOnInit()">
    {{buttonName}}
  </button>
  <br>
<hr>
<div class="row grid-margin">
    <div class="col">
        <form>
            <input #search (keyup)="0" class="form-control" type="text" placeholder="Search">
        </form>
    </div>
    <div class="col">
    	<div class="btn-group float-right">
    		<a class="btn btn-success" [routerLink]="['create']">
                <i class="fa fa-plus-circle"></i> New Guest
            </a>
    	</div>
    </div>
</div>
<div class="row grid-margin">
    <div class="col-lg-12 grid-margin grid-margin-lg-0">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Guests</h2>
                <table class="table table-hover table-responsive-sm">
                    <thead class="thead-light">
                        <tr class="">
                            <th>Details</th>
                            <th>Full Name</th>
                            <th>Nationality</th>
                            <th>Mobile</th>
                            <th>CIN/PASSEPORT</th>
                            <th>Present</th>
                            <th>Room</th>
                            <th width="1%">#</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="guests$.isLoading == true">
                        <tr>
                            <th colspan="5" class="text-center">
                                <loading-spinner></loading-spinner>
                            </th>
                        </tr>
                    </tbody>
                    <tbody *ngIf="guests$.data.length > 0 && guests$.isLoading == false">
                        <tr *ngFor="let guest of guests$.data | searchFilter: search.value">
                            <td scope="row">
                                <a [routerLink]="['view', guest.clientId]" title="View Guest Details" class="btn">
                                    <i class="fa fa-file-text-o "></i>
                                </a>
                            </td>
                            <td class="text-uppercase">
                                {{ guest.fullName }}
                            </td>
                            <td class="text-uppercase">
                                
                                    {{guest.nationality }}
                                
                            </td>
                            <td>
                                <a href="tel:{{guest.mobile}}" title="Make a call">
                                    {{ guest.phone }}
                                </a>
                            </td>
                            <td>
                                {{guest.cinPass}}
                            </td>
                            <td>
                                <span [ngClass]="{'badge-success': (guest.endDate>=date && date>=guest.startDate) , 'badge-danger':(!(guest.endDate>=date && date>=guest.startDate))}">
                                    {{guest.endDate>=date && date>=guest.startDate ? 'present': 'absent'}}
                                </span>
                                
                            </td>
                            <td>
                                {{ guest.room!=null ?guest.room.roomId:'none'}}
                            </td>
                            <td>
                                <a [routerLink]="['edit', guest.clientId]" title="Edit Guest"  class="btn">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                            
                        </tr>
                        
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>

